<a href="https://colab.research.google.com/github/Yash-017/Website_Navigation_via_voice/blob/master/webnlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from io import StringIO
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [ ]:
def get_data():
    df = pd.read_csv('/content/nlptrain.csv')
    ct=df.groupby("classs").count()
    print(ct)
    return df

In [ ]:
get_data()

                    question
classs
AddToPlaylist           1818
PlayMusic               1914
RateBook                1876
SearchCreativeWork      1736

                  classs                                           question
0          AddToPlaylist    a shawnna to the warm hearts feel good playlist
1          AddToPlaylist                ad amal hijazi tune to my pura vida
2          AddToPlaylist                ad artist to sxsw latin my playlist
3          AddToPlaylist  ad czarna dziewczyna to instrumental madness p...
4          AddToPlaylist   ad i should have known better to this is bb king
...                  ...                                                ...
7339  SearchCreativeWork  wish to find the work the immortals that is a ...
7340  SearchCreativeWork  wish to fins a television show called whole again
7341  SearchCreativeWork        wish to hear the album since i saw you last
7342  SearchCreativeWork  wish to read the novel called the wizard of st...
7343  SearchCreativeWork  would like to find the trailer for an experime...

[7344 rows x 2 columns]

In [ ]:
def data_prepare():
    col = ['classs', 'question']
    y=get_data()
    y = y[col]
    y = y[pd.notnull(y['question'])]
    y.columns = ['classs', 'question']
    y['category_id'] = y['classs'].factorize()[0]
    category_id_df = y[['classs', 'category_id']].drop_duplicates().sort_values('category_id')
    category_to_id = dict(category_id_df.values)
    id_to_category = dict(category_id_df[['category_id', 'classs']].values)
    return y

In [ ]:
data_prepare()

,classs,question,category_id
0,AddToPlaylist,a shawnna to the warm hearts feel good playlist,0
1,AddToPlaylist,ad amal hijazi tune to my pura vida,0
2,AddToPlaylist,ad artist to sxsw latin my playlist,0
3,AddToPlaylist,ad czarna dziewczyna to instrumental madness p...,0
4,AddToPlaylist,ad i should have known better to this is bb king,0
...,...,...,...
7339,SearchCreativeWork,wish to find the work the immortals that is a ...,3
7340,SearchCreativeWork,wish to fins a television show called whole again,3
7341,SearchCreativeWork,wish to hear the album since i saw you last,3
7342,SearchCreativeWork,wish to read the novel called the wizard of st...,3
7343,SearchCreativeWork,would like to find the trailer for an experime...,3

In [ ]:
def naive_algo():
    tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english')
    df=data_prepare()
    features = tfidf.fit_transform(df.question).toarray()
    labels = df.category_id
    features.shape
    X_train, X_test, y_train, y_test = train_test_split(df['question'], df['classs'], random_state = 0)
    count_vect = CountVectorizer()
    X_train_counts = count_vect.fit_transform(X_train)
    tfidf_transformer = TfidfTransformer()
    X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
    clf = MultinomialNB().fit(X_train_tfidf, y_train)
    return clf,count_vect

In [ ]:
def predict(question):
    clf,count_vect=naive_algo()
    intent=clf.predict(count_vect.transform([question]))
    intent=str(intent).strip("['']")
    print(intent)
    return intent

In [ ]:
ques=input("")

give this book 3 stars

In [ ]:
x=predict(ques)

RateBook

In [ ]:
import pickle
import joblib
filename = 'Intentclassifiterr.pkl'
joblib.dump(predict,filename)

['Intentclassifiterr.pkl']